{% if user.is_authenticated %}
<header>
    <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url "accounting:students" %}" class="nav-link link-dark px-2 " aria-current="page">Ученики</a></li>
        <li class="nav-item"><a href="{% url "accounting:schedule" %}" class="nav-link link-dark px-2">Расписание</a></li>
      </ul>
      <ul class="nav">

            {% if user.is_authenticated %}
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">{{ user.username }}</a></li>
                <li class="nav-item"><a href="{% url "users:logout" %}" class="nav-link link-dark px-2">Выход</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url "users:signin" %}" class="nav-link link-dark px-2">Вход</a></li>
            {% endif %}
      </ul>
    </div>
  </nav>
</header>
{% endif %}
